.container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.character {
  width: 300px;
  margin: 1rem;
  border-radius: 0.5rem;
  background: rgb(17, 17, 17);
  box-shadow: 0 0.5rem 1rem rgb(58, 58, 58);
  overflow: hidden;
  color: aliceblue;
  text-align: center;
  h1 {
    margin: 1rem;
    font-size: 2.5rem;
  }
  img {
    object-fit: cover;
  }
}

.characterDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem;
  p {
    text-align: left;
    font-size: 1.2rem;

    span {
      color: antiquewhite;
      font-weight: bold;
    }
  }
}
